
.root {
	-st-states:
		disable,
		active;
	display: inline-block;
}

.content {
	-st-states:
		/* Basic states */
		active,
		offset,
		/* Align states */
		leftAlign,
		centerAlign,
		rightAlign;
	position: fixed;
	z-index: 1;
}

.content:not(:active) {
	pointer-events: none;
	opacity: 0;
}

.content:centerAlign {
	transform: translateX(-50%);
}
