
:import {
	-st-from: '../CustomFlatSelect/CustomFlatSelect.st.css';
	-st-named:
		option,
		label,
		input;
}

@custom-selector :--option .options .option;
@custom-selector :--label .options .label;
@custom-selector :--input .options .input;

.root {
	/* empty block */
}

.placeholder {
	/* empty block */
}

.dropdownContent {
	/* empty block */
}

.options {
	/* empty block */
}
