
.root {
	-st-states:
		/* Basic states */
		pseudoFocus,
		withIcon,
		/* Color states */
		primaryColor,
		secondaryColor,
		successColor,
		successAltColor,
		infoColor,
		infoAltColor,
		warningColor,
		warningAltColor,
		dangerColor,
		dangerAltColor,
		/* Size states */
		xsSize,
		smSize,
		lgSize,
		xlSize;
	display: inline-flex;
	align-items: center;
}

.icon {
	-st-states:
		leftAlign,
		rightAlign;
}

.input {
	display: block;
	width: 100%;
	height: 100%;
}
