{
	"exclude": "node_modules/**",
	"ignore": [
		"**/*.babel.js"
	],
	"presets": [
		[
			"babel-preset-trigen",
			{
				"env": "lib",
				"commonjs": true,
				"react": true
			}
		]
	],
	"overrides": [
		{
			"test": "**/*.es.js",
			"presets": [
				[
					"babel-preset-trigen",
					{
						"env": "lib",
						"react": true
					}
				]
			]
		}
	],
	"env": {
		"test": {
			"presets": [
				[
					"babel-preset-trigen",
					{
						"env": "jest",
						"react": true,
						"typescript": true
					}
				]
			]
		}
	}
}
