{
	"exclude": "node_modules/**",
	"ignore": [
		"**/*.babel.js"
	],
	"presets": [
		[
			"babel-preset-trigen",
			{
				"commonjs": true,
				"react": true,
				"reactRemovePropTypes": {
					"mode": "unsafe-wrap"
				}
			}
		]
	],
	"overrides": [
		{
			"test": "**/*.es.js",
			"presets": [
				[
					"babel-preset-trigen",
					{
						"react": true,
						"reactRemovePropTypes": {
							"mode": "unsafe-wrap"
						}
					}
				]
			]
		}
	],
	"env": {
		"test": {
			"presets": [
				[
					"babel-preset-trigen",
					{
						"targets": {
							"node": "current"
						},
						"commonjs": true,
						"react": true,
						"typescript": true
					}
				]
			],
			"plugins": [
				"require-context-hook"
			]
		}
	}
}
