
.root {
	-st-states:
		withIcon,
		flexIcon;
	cursor: pointer;
}

.iconContainer {
	display: flex;
	align-items: center;
}

.root:flexIcon .iconContainer {
	justify-content: space-between;
}

.icon {
	-st-states:
		leftAlign,
		rightAlign;
	fill: currentColor;
}
