
.root {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 2rem;
	height: 1rem;
}

.root:disabled {
	cursor: default;
}

.root::before {
	display: block;
	position: absolute;
	padding: 25%;
	content: '';
}

.root:checked::before {
	transform: translateX(100%);
}
