
.root {
	-st-states: focusable;
	position: absolute;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip-path: inset(100% 100%);
}

.root:focusable:active,
.root:focusable:focus {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	white-space: normal;
	clip-path: none;
}
