
.root {
	-st-states:
		disabled,
		active;
}

.title {
	cursor: pointer;
	user-select: none;
}

.root:disabled .title {
	cursor: default;
}

/* stylelint-disable a11y/no-display-none */
.root:not(:active) .content {
	display: none;
}/* styelint-enable */
