
.root {
	-st-states: withIcon;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.label {
	order: -2;
}

.label,
.description {
	flex: 1 1 100%;
}

.icon {
	-st-states:
		leftAlign,
		rightAlign;
	fill: currentColor;
}

.icon:leftAlign {
	order: -1;
}

.input {
	-st-states:
		flex,
		leftIcon,
		rightIcon;
}

.input:flex {
	flex: 1;
}
