@namespace 'TestTheme';

:import {
	-st-from: '../components/Tooltip/Tooltip.st.css';
	-st-default: Tooltip, tooltip;
}

:vars {
	greenColor: green;
	redColor: red;
}

Tooltip {
	color: value(greenColor);
}

.tooltip {
	color: value(redColor);
}
