
.root {
	/* Empty block */
}

.preview {
	-st-states:
		/* Common states */
		readOnly,
		/* Display states */
		block,
		img;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center;
}

.img {
	/* Empty block */
}

.placeholder {
	/* Empty block */
}
