
.root {
	width: 100%;
	max-width: 100%;
}

.head {
	-st-states: hidden;
}

.foot {
	-st-states: hidden;
}

.head:hidden td,
.foot:hidden td {
	border: none;
	padding: 0;
	height: 0;
}

.head:hidden td::before,
.foot:hidden td::before {
	display: block;
	margin: -100%;
	content: '';
}

.body {
	/* empty block */
}

.row {
	/* empty block */
}

.cell {
	-st-states:
		head,
		orderNone,
		orderAsc,
		orderDesc;
}

.cell:orderNone,
.cell:orderAsc,
.cell:orderDesc {
	cursor: pointer;
	user-select: none;
}

.cell:orderNone::after {
	content: '\2013';
}

.cell:orderAsc::after {
	content: '\25b2';
}

.cell:orderDesc::after {
	content: '\25bc';
}
