
.root {
	width: 100%;
	max-width: 100%;
}

.head {
	/* empty block */
}

.body {
	/* empty block */
}

.row {
	/* empty block */
}

.cell {
	-st-states:
		head,
		orderNone,
		orderAsc,
		orderDesc;
}

.cell:orderNone,
.cell:orderAsc,
.cell:orderDesc {
	cursor: pointer;
	user-select: none;
}

.cell:orderNone::after {
	content: '\2013';
}

.cell:orderAsc::after {
	content: '\25b2';
}

.cell:orderDesc::after {
	content: '\25bc';
}
