/*
stylelint-disable
	scale-unlimited/declaration-strict-value,
	property-no-vendor-prefix,
	at-rule-no-vendor-prefix,
	comment-empty-line-before,
	no-descending-specificity,
	a11y/no-outline-none,
	a11y/no-display-none,
	a11y/line-height-is-vertical-rhythmed
*/

/**
 * Reboot
 *
 * Normalization of HTML elements, manually forked from Normalize.css to remove
 * styles targeting irrelevant browsers while applying new styles.
 *
 * Normalize is licensed MIT. https://github.com/necolas/normalize.css
 */

/**
 * Document
 *
 * 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
 * 2. Change the default font family in all browsers.
 * 3. Correct the line height in all browsers.
 * 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
 * 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
 *    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
 * 6. Change the default tap highlight to be completely transparent in iOS.
 */

*,*::before,*::after {
	box-sizing: border-box; /* 1 */
}

html {
	line-height: 1.15; /* 3 */
	font-family: sans-serif; /* 2 */
	font-size: .625rem;
	-webkit-text-size-adjust: 100%; /* 4 */
	-ms-text-size-adjust: 100%; /* 4 */
	-ms-overflow-style: scrollbar; /* 5 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 6 */
}

/**
 * IE10+ doesn't honor `<meta name="viewport">` in some cases.
 */

@-ms-viewport {
	width: device-width;
}

/**
 * Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
 */

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
	display: block;
}

/**
 * Body
 *
 * 1. Remove the margin in all browsers.
 * 2. As a best practice, apply a default `background-color`.
 * 3. Set an explicit initial text-align value so that we can later use the
 *    the `inherit` value on things like `<th>` elements.
 */

body {
	margin: 0; /* 1 */
	background-color: white; /* 2 */
	text-align: left; /* 3 */
	line-height: 1.5;
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol' ;
	font-size: 1.6rem;
	font-weight: normal;
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 *
 * Credit: https://github.com/suitcss/base
 */

[tabindex=-1]:focus {
	outline: 0 !important;
}

/**
 * Content grouping
 *
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * Typography
 */

/**
 * Remove top margins from headings
 *
 * By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
 * margin for easier control within type scales as it avoids margin collapsing.
 */

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

/**
 * Reset margins on paragraphs
 *
 * Similarly, the top margin on `<p>`s get reset. However, we also reset the
 * bottom margin to use `rem` units instead of `em`.
 */

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/**
 * Abbreviations
 *
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 * 3. Add explicit cursor to indicate changed behavior.
 * 4. Duplicate behavior to the data-* attribute for our tooltip plugin
 */

abbr[title] {
	border-bottom: 0; /* 1 */
	cursor: help; /* 3 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted; /* 2 */
}

address {
	margin-bottom: 1rem;
	line-height: inherit;
	font-style: normal;
}

ol,ul,dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,ul ul,ol ul,ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5rem;
	/* Undo browser default */
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

dfn {
	/* Add the correct font style in Android 4.3- */
	font-style: italic;
}

b,strong {
	/* Add the correct font weight in Chrome, Edge, and Safari */
	font-weight: bolder;
}

small {
	/* Add the correct font size in all browsers */
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,sup {
	position: relative;
	vertical-align: baseline;
	line-height: 0;
	font-size: 75%;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

/**
 * Links
 */

a {
	/* Remove the gray background on active links in IE 10. */
	background-color: transparent;
	/* Remove gaps in links underline in iOS 8+ and Safari 8+. */
	-webkit-text-decoration-skip: objects;
}

/**
 * Code
 */

pre,code,kbd,samp {
	/* Correct the inheritance and scaling of font size in all browsers. */
	font-family: SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		'Liberation Mono',
		'Courier New',
		monospace;
	/* Correct the odd `em` font sizing in all browsers. */
	font-size: 1em;
}

pre {
	/* Remove browser default top margin */
	margin-top: 0;
	/* Reset browser default of `1em` to use `rem`s */
	margin-bottom: 1rem;
	/* Don't allow content to break outside */
	overflow: auto;
	/* We have @viewport set which causes scrollbars to overlap content in IE11 and Edge, so
	   we force a non-overlapping, non-auto-hiding scrollbar to counteract. */
	-ms-overflow-style: scrollbar;
}

/**
 * Figures
 */

figure {
	/* Apply a consistent margin strategy (matches our type styles). */
	margin: 0 0 1rem;
}

/**
 * Images and content
 */

img {
	/* Remove the border on images inside links in IE 10-. */
	border-style: none;
	vertical-align: middle;
}

svg:not(:root) {
	/* Hide the overflow in IE */
	overflow: hidden;
}

/**
 * Tables
 */

table {
	/* Prevent double borders */
	border-collapse: collapse;
}

caption {
	caption-side: bottom;
	text-align: left;
}

th {
	/* Matches default `<td>` alignment by inheriting from the `<body>`, or the
	   closest parent with a set `text-align`. */
	text-align: inherit;
}

/**
 * Forms
 */

label {
	/* Allow labels to use `margin` for spacing. */
	display: inline-block;
}

/**
 * Remove the default `border-radius` that macOS Chrome adds.
 *
 * Details at https://github.com/twbs/bootstrap/issues/24093
 */

button {
	border-radius: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 *
 * Credit: https://github.com/suitcss/base/
 */

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,button,select,optgroup,textarea {
	/* Remove the margin in Firefox and Safari */
	margin: 0;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
}

button,input {
	/* Show the overflow in Edge */
	overflow: visible;
}

button,select {
	/* Remove the inheritance of text transform in Firefox */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,html [type=button],[type=reset],[type=submit] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
 */

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

input[type=radio],input[type=checkbox] {
	/* 1. Add the correct box sizing in IE 10- */
	box-sizing: border-box;
	/* 2. Remove the padding in IE 10- */
	padding: 0;
}

input[type=date],input[type=time],input[type=datetime-local],input[type=month] {
	/**
	 * Remove the default appearance of temporal inputs to avoid a Mobile Safari
	 * bug where setting a custom line-height prevents text from being vertically
	 * centered within the input.
	 * See https://bugs.webkit.org/show_bug.cgi?id=139848
	 * and https://github.com/twbs/bootstrap/issues/11266
	 */
	-webkit-appearance: listbox;
}

textarea {
	/* Remove the default vertical scrollbar in IE. */
	overflow: auto;
	/* Textareas should really only resize vertically so they don't break their (horizontal) containers. */
	resize: vertical;
}

fieldset {
	/**
	 * Browsers set a default `min-width: min-content;` on fieldsets,
	 * unlike e.g. `<div>`s, which have `min-width: 0;` by default.
	 * So we reset that to ensure fieldsets behave more like a standard block element.
	 * See https://github.com/twbs/bootstrap/issues/12359
	 * and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
	 */
	/* Reset the default outline behavior of fieldsets so they don't affect page layout. */
	margin: 0;
	border: 0;
	padding: 0;
	min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
	display: block;
	margin-bottom: .5rem;
	padding: 0;
	width: 100%;
	max-width: 100%; /* 1 */
	line-height: inherit;
	white-space: normal; /* 1 */
	color: inherit; /* 2 */
	font-size: 1.5rem;
}

progress {
	/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
	vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	/**
	 * This overrides the extra rounded corners on search inputs in iOS so that our
	 * `.form-control` class can properly style them. Note that this cannot simply
	 * be added to `.form-control` as it's not specific enough. For details, see
	 * https://github.com/twbs/bootstrap/issues/11586.
	 */
	/* 2. Correct the outline style in Safari. */
	-webkit-appearance: none;
	outline-offset: -2px;
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/**
 * Correct element displays
 */

output {
	display: inline-block;
}

summary {
	/* Add the correct display in all browsers */
	display: list-item;
	cursor: pointer;
}

template {
	/* Add the correct display in IE */
	display: none;
}

/**
 * Always hide an element with the `hidden` HTML attribute (from PureCSS).
 * Needed for proper display in IE 10-.
 */

[hidden] {
	display: none !important;
}




.Badge1048014209🦄root {
	display: inline-block;
}


.BadgeContainer1525093053🦄root {
	-st-states:
		/* Placement states */
		topPlacement,
		rightPlacement,
		bottomPlacement,
		leftPlacement,
		/* Align states */
		startAlign,
		centerAlign,
		endAlign;
	display: inline-block;
	position: relative;
}

.BadgeContainer1525093053🦄root .Badge1048014209🦄root {
	position: absolute;
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-topplacement][data-badgecontainer1525093053-startalign] .Badge1048014209🦄root {
	top: 0;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-topplacement][data-badgecontainer1525093053-centeralign] .Badge1048014209🦄root {
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-topplacement][data-badgecontainer1525093053-endalign] .Badge1048014209🦄root {
	top: 0;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-rightplacement][data-badgecontainer1525093053-startalign] .Badge1048014209🦄root {
	top: 0;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-rightplacement][data-badgecontainer1525093053-centeralign] .Badge1048014209🦄root {
	top: 50%;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-rightplacement][data-badgecontainer1525093053-endalign] .Badge1048014209🦄root {
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	        transform: translate(50%, 50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-bottomplacement][data-badgecontainer1525093053-startalign] .Badge1048014209🦄root {
	bottom: 0;
	left: 0;
	-webkit-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-bottomplacement][data-badgecontainer1525093053-centeralign] .Badge1048014209🦄root {
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-bottomplacement][data-badgecontainer1525093053-endalign] .Badge1048014209🦄root {
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	        transform: translate(50%, 50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-leftplacement][data-badgecontainer1525093053-startalign] .Badge1048014209🦄root {
	top: 0;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-leftplacement][data-badgecontainer1525093053-centeralign] .Badge1048014209🦄root {
	top: 50%;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.BadgeContainer1525093053🦄root[data-badgecontainer1525093053-leftplacement][data-badgecontainer1525093053-endalign] .Badge1048014209🦄root {
	bottom: 0;
	left: 0;
	-webkit-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
}


.Button2938894489🦄root {
	-st-states:
		withIcon,
		flexIcon;
	cursor: pointer;
}

.Button2938894489🦄iconContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

.Button2938894489🦄root[data-button2938894489-flexicon] .Button2938894489🦄iconContainer {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.Button2938894489🦄icon {
	-st-states:
		leftAlign,
		rightAlign;
	fill: currentColor;
}


.Checkbox2952471151🦄root {
	display: inline-block;
	position: relative;
	width: 1rem;
	height: 1rem;
}

.Checkbox2952471151🦄checkbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.Checkbox2952471151🦄face {
	position: relative;
	width: 100%;
	height: 100%;
}


.Modal2021488569🦄root {
	-st-states:
		appear,
		appearActive,
		enter,
		enterActive,
		enterDone,
		exit,
		exitActive,
		exitDone;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.Modal2021488569🦄window {
	-st-states: centered;
	margin-right: auto;
	margin-left: auto;
}

.Modal2021488569🦄window[data-modal2021488569-centered] {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.Modal2021488569🦄closeButton {
	/* empty block */
}


.ConfirmModal28538610🦄root {
	/* Empty block */
}

.ConfirmModal28538610🦄form {
	/* Empty block */
}


.Dropdown2481282297🦄root {
	-st-states:
		disable,
		active;
	display: inline-block;
}

.Dropdown2481282297🦄content {
	-st-states:
		/* Basic states */
		active,
		/* Align states */
		leftAlign,
		centerAlign,
		rightAlign;
	position: fixed;
	z-index: 1;
}

.Dropdown2481282297🦄content:not([data-dropdown2481282297-active]) {
	pointer-events: none;
	opacity: 0;
}

.Dropdown2481282297🦄content[data-dropdown2481282297-centeralign] {
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}


.CustomSelect1268501484🦄root {
	/* empty block */
}

.CustomSelect1268501484🦄placeholder {
	/* empty block */
}

.CustomSelect1268501484🦄dropdownContent {
	/* empty block */
}

.CustomSelect1268501484🦄options {
	margin: 0;
	padding: 0;
	list-style: none;
}

.CustomSelect1268501484🦄option {
	/* empty block */
}

.CustomSelect1268501484🦄label {
	/* empty block */
}

.CustomSelect1268501484🦄input {
	/* empty block */
}

.CustomSelect1268501484🦄button {
	/* empty block */
}


.Expand1632338532🦄root {
	-st-states:
		disabled,
		active;
}

.Expand1632338532🦄title {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.Expand1632338532🦄root:not([data-expand1632338532-active]) .Expand1632338532🦄content {
	display: none;
}


.FileDrop171586364🦄root {
	-st-states:
		disabled,
		dragOver;
}


.FileSelect4169396372🦄root {
	-st-states: disabled;
	display: inline-block;
	position: relative;
}

.FileSelect4169396372🦄input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.FileSelect4169396372🦄border {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.Input3823682907🦄root {
	-st-states: withIcon;
	display: -webkit-inline-flex;
	display: inline-flex;
	position: relative;
	-webkit-align-items: center;
	        align-items: center;
}

.Input3823682907🦄icon {
	-st-states:
		leftAlign,
		rightAlign;
}

.Input3823682907🦄input {
	display: block;
	width: 100%;
	height: 100%;
}

.Input3823682907🦄border {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.FormGroup435634931🦄root {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
}

.FormGroup435634931🦄label {
	/* Empty block */
}


.Link3719251194🦄root {
	-st-states:
		withIcon,
		flexIcon;
	cursor: pointer;
}

.Link3719251194🦄root[data-link3719251194-withicon] {
	display: inline-block;
}

.Link3719251194🦄iconContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

.Link3719251194🦄root[data-link3719251194-flexicon] .Link3719251194🦄iconContainer {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.Link3719251194🦄icon {
	-st-states:
		leftAlign,
		rightAlign;
	fill: currentColor;
}


.Menu4001145016🦄root {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Menu4001145016🦄item {
	/* empty block */
}

.Menu4001145016🦄itemSeparator {
	/* empty block */
}

.Menu4001145016🦄button {
	/* empty block */
}


.Paginator3321978685🦄root {
	-st-states: disabled;
}

.Paginator3321978685🦄list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Paginator3321978685🦄item {
	/* empty block */
}

.Paginator3321978685🦄separator::before {
	content: '...';
}

.Paginator3321978685🦄button {
	-st-states: active;
}


.Radio4009788471🦄root {
	display: inline-block;
	position: relative;
	width: 1rem;
	height: 1rem;
}

.Radio4009788471🦄radio {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.Radio4009788471🦄face {
	position: relative;
	width: 100%;
	height: 100%;
}


.Table2807617664🦄root {
	width: 100%;
	max-width: 100%;
}

.Table2807617664🦄head {
	/* empty block */
}

.Table2807617664🦄body {
	/* empty block */
}

.Table2807617664🦄row {
	/* empty block */
}

.Table2807617664🦄cell {
	-st-states:
		head,
		orderNone,
		orderAsc,
		orderDesc;
}

.Table2807617664🦄cell[data-table2807617664-ordernone],.Table2807617664🦄cell[data-table2807617664-orderasc],.Table2807617664🦄cell[data-table2807617664-orderdesc] {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.Table2807617664🦄cell[data-table2807617664-ordernone]::after {
	content: '\2013';
}

.Table2807617664🦄cell[data-table2807617664-orderasc]::after {
	content: '\25b2';
}

.Table2807617664🦄cell[data-table2807617664-orderdesc]::after {
	content: '\25bc';
}


.ScrollArea1253395645🦄root {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.ScrollArea1253395645🦄scroller {
	-st-states:
		hideXScrollbar,
		hideYScrollbar;
	width: inherit;
	min-width: inherit;
	height: inherit;
	min-height: inherit;
	max-height: inherit;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.ScrollArea1253395645🦄scroller:not([data-scrollarea1253395645-hideyscrollbar]) {
	max-width: inherit;
}

.ScrollArea1253395645🦄shadow {
	-st-states:
		active,
		top,
		right,
		bottom,
		left;
	position: absolute;
	z-index: 2;
}

.ScrollArea1253395645🦄shadow[data-scrollarea1253395645-top] {
	top: 0;
	right: 0;
	left: 0;
}

.ScrollArea1253395645🦄shadow[data-scrollarea1253395645-right] {
	top: 0;
	right: 0;
	bottom: 0;
}

.ScrollArea1253395645🦄shadow[data-scrollarea1253395645-bottom] {
	right: 0;
	bottom: 0;
	left: 0;
}

.ScrollArea1253395645🦄shadow[data-scrollarea1253395645-left] {
	top: 0;
	bottom: 0;
	left: 0;
}


.Select816777076🦄root {
	display: inline-block;
	position: relative;
}

.Select816777076🦄select {
	display: block;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
	width: 100%;
	height: 100%;
}

/* stylelint-disable a11y/no-outline-none */
.Select816777076🦄select:focus {
	outline: none;
} /* stylelint-enable */

.Select816777076🦄border {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.Switch619891487🦄root {
	display: inline-block;
	position: relative;
	width: 2rem;
	height: 1rem;
}

.Switch619891487🦄input {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.Switch619891487🦄face {
	position: relative;
	width: 100%;
	height: 100%;
}

.Switch619891487🦄face::before {
	display: block;
	position: absolute;
	padding: 25%;
	content: '';
}

.Switch619891487🦄input:checked + .Switch619891487🦄face::before {
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
}


.Textarea3355878237🦄root {
	/* empty block */
}


.ToggleSelect3570683718🦄root {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ToggleSelect3570683718🦄option {
	/* empty block */
}

.ToggleSelect3570683718🦄label {
	/* empty block */
}

.ToggleSelect3570683718🦄input {
	/* empty block */
}

.ToggleSelect3570683718🦄button {
	/* empty block */
}


.Tooltip2039582536🦄root {
	display: inline-block;
}

.Tooltip2039582536🦄tooltip {
	-st-states:
		/* Basic states */
		active,
		/* Placement states */
		topPlacement,
		rightPlacement,
		bottomPlacement,
		leftPlacement,
		/* Align states */
		startAlign,
		centerAlign,
		endAlign;
	position: fixed;
	z-index: 1;
}

.Tooltip2039582536🦄tooltip:not([data-tooltip2039582536-active]) {
	pointer-events: none;
	opacity: 0;
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-topplacement][data-tooltip2039582536-startalign] {
	/* top: 0;
	left: 0; */
	-webkit-transform: translate(0, -100%);
	        transform: translate(0, -100%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-topplacement][data-tooltip2039582536-centeralign] {
	/* top: 0;
	left: 50%; */
	-webkit-transform: translate(-50%, -100%);
	        transform: translate(-50%, -100%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-topplacement][data-tooltip2039582536-endalign] {
	/* top: 0;
	right: 0; */
	-webkit-transform: translate(0, -100%);
	        transform: translate(0, -100%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-rightplacement][data-tooltip2039582536-startalign] {
	/* top: 0;
	right: 0; */
	-webkit-transform: translate(100%, 0);
	        transform: translate(100%, 0);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-rightplacement][data-tooltip2039582536-centeralign] {
	/* top: 50%;
	right: 0; */
	-webkit-transform: translate(100%, -50%);
	        transform: translate(100%, -50%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-rightplacement][data-tooltip2039582536-endalign] {
	/* right: 0;
	bottom: 0; */
	-webkit-transform: translate(100%, 0);
	        transform: translate(100%, 0);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-bottomplacement][data-tooltip2039582536-startalign] {
	/* bottom: 0;
	left: 0; */
	-webkit-transform: translate(0, 100%);
	        transform: translate(0, 100%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-bottomplacement][data-tooltip2039582536-centeralign] {
	/* bottom: 0;
	left: 50%; */
	-webkit-transform: translate(-50%, 100%);
	        transform: translate(-50%, 100%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-bottomplacement][data-tooltip2039582536-endalign] {
	/* right: 0;
	bottom: 0; */
	-webkit-transform: translate(0, 100%);
	        transform: translate(0, 100%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-leftplacement][data-tooltip2039582536-startalign] {
	/* top: 0;
	left: 0; */
	-webkit-transform: translate(-100%, 0);
	        transform: translate(-100%, 0);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-leftplacement][data-tooltip2039582536-centeralign] {
	/* top: 50%;
	left: 0; */
	-webkit-transform: translate(-100%, -50%);
	        transform: translate(-100%, -50%);
}

.Tooltip2039582536🦄tooltip[data-tooltip2039582536-leftplacement][data-tooltip2039582536-endalign] {
	/* bottom: 0;
	left: 0; */
	-webkit-transform: translate(-100%, 0);
	        transform: translate(-100%, 0);
}


.VisuallyHidden875502257🦄root {
	-st-states: focusable;
	position: absolute;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-clip-path: inset(100% 100%);
	        clip-path: inset(100% 100%);
}

.VisuallyHidden875502257🦄root[data-visuallyhidden875502257-focusable]:active,.VisuallyHidden875502257🦄root[data-visuallyhidden875502257-focusable]:focus {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	white-space: normal;
	-webkit-clip-path: none;
	        clip-path: none;
}
