
.root {
	-st-states: disabled;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item {
	/* empty block */
}

.separator::before {
	content: '...';
}

.button {
	-st-states: active;
	cursor: pointer;
}

.button:disabled {
	cursor: default;
}
