
.root {
	-st-states:
		withIcon,
		flexIcon;
	display: inline-block;
	cursor: pointer;
}

.iconContainer {
	display: flex;
	align-items: center;
}

.iconContainer::before {
	content: '\200B';
}

.root:flexIcon .iconContainer {
	justify-content: space-between;
}

.icon {
	-st-states:
		leftAlign,
		rightAlign;
	fill: currentColor;
}
