
.root {
	-st-states:
		/* Basic states */
		pseudoFocus,
		pseudoHover,
		pseudoActive,
		withIcon,
		flexIcon,
		/* Color states */
		primaryColor,
		secondaryColor,
		successColor,
		successAltColor,
		infoColor,
		infoAltColor,
		warningColor,
		warningAltColor,
		dangerColor,
		dangerAltColor,
		/* Size states */
		xsSize,
		smSize,
		lgSize,
		xlSize,
		/* Variant states */
		decorated,
		disguised;
	cursor: pointer;
}

.root:withIcon {
	display: inline-block;
}

.root:disguised {
	color: inherit;
}

.root:disguised:hover {
	text-decoration: none;
	color: inherit;
}

.iconContainer {
	display: flex;
	align-items: center;
}

.root:flexIcon .iconContainer {
	justify-content: space-between;
}

.icon {
	-st-states:
		leftAlign,
		rightAlign;
	fill: currentColor;
}
